<section id="mobile-nav-wrap" class="mobile-nav-wrap">
    <div class="aside-top">
        <div class="menu-close-line">
            <button (click)="handleCloseMenu()">
                <img src="../../../assets/img/close-bold.svg" alt="" />
            </button>
        </div>
        <div class="user-welcome">
            <img src="" alt="" class="" />
            <span class="">Hi User 👋</span>
        </div>
    </div>
    <!-- <button type="button" role="link" (click)="addTaskHandler()" class="add-task-btn-nav">
        <img src="" alt="" class="" />
        <span class="">New Task</span>
    </button> -->
</section>